#teste {
  display: grid;
  gap: 50px;
  margin: 5% 0;
  max-width: 1000px;
  align-self: center;
}

#intro-form {
  display: grid;
  text-align: justify;
  gap: 15px;
}

#intro-form h2 {
  text-align: center;
  margin-bottom: 3%;
}

input[type="text"],
input[type="number"],

select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#questionario {
  display: grid;
  gap: 30px;
  justify-items: start;
}

.numero {
  color: rgb(219, 236, 255);
  background: #2088ff;
  padding: 4px 8px;
  border-radius: 500px;
}

.pergunta {
  display: grid;
  gap: 10px;
}
.pergunta span {
  font-size: small;
}

.pergunta label {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
}

.radio-group {
  display: grid;
  gap: 10px;
  margin-top: 5%;
}

.radio-option {
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  font-weight: normal;
}

/* Esconde o radio real */
.radio-option input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Círculo customizado */
.radio-option .custom-radio {
  left: 0;
  top: 2px;
  height: 18px;
  width: 18px;
  background-color: white;
  border: 1px solid rgb(199, 225, 255);
  border-radius: 50%;
  transition: all 0.2s ease;
}

/* Quando selecionado */
.radio-option input[type="radio"]:checked ~ .custom-radio {
  background-color: #2980b9;
  box-shadow: inset 0 0 0 4px white;
}

.popup-hidden {
  display: none;
}

/* Pop-up visível */
.popup-visible {
  display: block;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* sombra escura */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Conteúdo do pop-up */
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 300px;
  text-align: center;
}

/* Botão fechar */
.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

/* Hover */
.radio-option:hover .custom-radio {
  border-color: #2980b9;
}

button {
  background-color: #1259aa;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #2088ff;
  transform: scale(1.05);
}

@media (max-width: 1400px) {
  #teste {
    width: 80%;
  }
}